<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<filter>
		<filter-name>CabinetFilter</filter-name>
		<display-name>CabinetFilter</display-name>
		<description></description>
		<filter-class>application.web.filters.CabinetFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<display-name>LoginFilter</display-name>
		<description></description>
		<filter-class>application.web.filters.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthorityFilter</filter-name>
		<display-name>AuthorityFilter</display-name>
		<description></description>
		<filter-class>application.web.filters.AuthorityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CabinetFilter</filter-name>
		<url-pattern>/cabinet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/security</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<servlet-name>MainPageServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<url-pattern>/order/*</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<url-pattern>/order</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>MainPageServlet</servlet-name>
		<display-name>MainPageServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.MainPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderPageServlet</servlet-name>
		<display-name>OrderPageServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.OrderPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderSubmitServlet</servlet-name>
		<display-name>OrderSubmitServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.OrderSubmitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecurityPageServlet</servlet-name>
		<display-name>SecurityPageServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.SecurityPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CabinetPageServlet</servlet-name>
		<display-name>CabinetPageServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.CabinetPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderSearchServlet</servlet-name>
		<display-name>OrderSearchServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.OrderSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecurityLoginServlet</servlet-name>
		<display-name>SecurityLoginServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.SecurityLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecurityRegisterServlet</servlet-name>
		<display-name>SecurityRegisterServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.SecurityRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CabinetDeleteAccountServlet</servlet-name>
		<display-name>CabinetDeleteAccountServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.CabinetDeleteAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CabinetChangePasswordServlet</servlet-name>
		<display-name>CabinetChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>application.web.servlets.CabinetChangePasswordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MainPageServlet</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderPageServlet</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderSearchServlet</servlet-name>
		<url-pattern>/order/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderSubmitServlet</servlet-name>
		<url-pattern>/order/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecurityPageServlet</servlet-name>
		<url-pattern>/security</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecurityLoginServlet</servlet-name>
		<url-pattern>/security/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecurityRegisterServlet</servlet-name>
		<url-pattern>/security/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CabinetPageServlet</servlet-name>
		<url-pattern>/cabinet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CabinetDeleteAccountServlet</servlet-name>
		<url-pattern>/cabinet/ac_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CabinetChangePasswordServlet</servlet-name>
		<url-pattern>/cabinet/pw_change</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>
